Repository pandalearnstocode/sample_components, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, devcontainer, github-actions, github-templates, internal, dependencies, tests, enhancement, build

.github/labeler.yml:

documentation:
  - docs/*
  - docs/**/*
  - mkdocs.yml

devcontainer:
  - .devcontainer/*

github-actions:
  - .github/workflows/*
  - .github/workflows/**/*
  - .github/dependabot.yml
  - .github/boring-cyborg.yml
  - .github/release-drafter.yml
  - .github/semantic.yml
  - .github/stale.yml
  - .github/mergify.yml

github-templates:
  - .github/ISSUE_TEMPLATE/*
  - .github/PULL_REQUEST_TEMPLATE.md
  - .github/.chglog/*
  - .github/.chglog/**/*

internal:
  - .flake8
  - .bandit.baseline
  - .gitignore
  - .pre-commit-config.yaml
  - MANIFEST.in
  - Makefile
  - CONTRIBUTING.md
  - MAINTAINERS.md
  - CODE_OF_CONDUCT.md
  - LICENSE
  - THIRD-PARTY-LICENSES
  - .dockerignore
  - .editorconfig
  - setup.cfg

dependencies:
  - pyproject.toml
  - poetry.lock
  - requirements.txt

tests:
  - tests/*
  - tests/**/*
  - benchmark/*
  - benchmark/**/*

enhancement:
  - sample_components/*

build:
  - Dockerfile

Update release.yml
  .github/workflows/release.yml
Labels: github-actions

Update ci.yml
  .github/workflows/ci.yml
Labels: github-actions

0.3.1
  CHANGELOG.md
  pyproject.toml
Labels: dependencies

Deployed c13e1e6 with MkDocs version: 1.4.1
  sitemap.xml.gz
Labels: none

Update README.md
  README.md
Labels: none
