Repository pandalearnstocode/sample_components, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, devcontainer, github-actions, github-templates, internal, dependencies, tests, enhancement, build

docs: update in read me.
  pyproject.toml
  release.yml
Labels: dependencies

Deployed 8998ba8 with MkDocs version: 1.4.1
  sitemap.xml.gz
Labels: none

docs: update in read me.
  .github/pr-labeler.yml
  .github/release-drafter.yml
  .github/workflows/ci.yml
  release.yml
Labels: github-actions

Deployed cf3e667 with MkDocs version: 1.4.1
  sitemap.xml.gz
Labels: none

docs: update in read me.
  README.md
  release.yml
Labels: none

Deployed 717d0d4 with MkDocs version: 1.4.1
  sitemap.xml.gz
Labels: none

Update README.md
  README.md
Labels: none

docs: update in read me.
  .github/workflows/release.yml
Labels: github-actions

docs: update in read me.
  .github/workflows/release.yml
Labels: github-actions

docs: update in read me.
  .github/workflows/release.yml
  release.yml
Labels: github-actions

Deployed ee1dc89 with MkDocs version: 1.4.1
  sitemap.xml.gz
Labels: none

docs: update in read me.
  .github/workflows/release.yml
Labels: github-actions

Deployed 0c1a612 with MkDocs version: 1.4.1
  sitemap.xml.gz
Labels: none

docs: update in read me.
  .github/workflows/release.yml
Labels: github-actions

Deployed 0ec11d4 with MkDocs version: 1.4.1
  sitemap.xml.gz
Labels: none

docs: update in read me.
  .github/workflows/release.yml
Labels: github-actions

docs: update in read me.
  pyproject.toml
Labels: dependencies

0.1.0
  CHANGELOG.md
  pyproject.toml
Labels: dependencies

Deployed b9026f2 with MkDocs version: 1.4.1
  sitemap.xml.gz
Labels: none

docs: update in read me.
  CHANGELOG.md
  pyproject.toml
Labels: dependencies

docs: update in read me.
  .github/workflows/ci.yml
  ci.yml
  sonar-project.properties
Labels: github-actions

docs: update in read me.
  .github/workflows/release.yml
Labels: github-actions

docs: update in read me.
  .github/workflows/release.yml
Labels: github-actions

feat: check end to end
  README.md
Labels: none

docs: update read me
  README.md
Labels: none

Update README.md
  README.md
Labels: none

feat: AB#12345 check end to end lint annotation (#42)
  README.md
Labels: none

Update pyproject.toml
  pyproject.toml
Labels: dependencies

Update pyproject.toml
  pyproject.toml
Labels: dependencies

docs: update in read me.
  .github/workflows/release.yml
Labels: github-actions

fix: update in read me.
  .github/workflows/ci.yml
  .github/workflows/release.yml
  pyproject.toml
Labels: github-actions, dependencies

0.2.0
  CHANGELOG.md
  pyproject.toml
Labels: dependencies

Deployed ca73c5a with MkDocs version: 1.4.1
  sitemap.xml.gz
Labels: none

docs: #AB-12345 update in read me
  README.md
Labels: none

docs: update in read me 2
  README.md
Labels: none

fix: AB#12345 sample fix
  README.md
Labels: none

fix: AB#12345 sample fix
  README.md
Labels: none

feat: AB#12345 update in read me (#43)
  README.md
Labels: none

0.3.0
  CHANGELOG.md
  pyproject.toml
Labels: dependencies

Deployed 7002fce with MkDocs version: 1.4.1
  sitemap.xml.gz
Labels: none

.github/labeler.yml:

documentation:
  - docs/*
  - docs/**/*
  - mkdocs.yml

devcontainer:
  - .devcontainer/*

github-actions:
  - .github/workflows/*
  - .github/workflows/**/*
  - .github/dependabot.yml
  - .github/boring-cyborg.yml
  - .github/release-drafter.yml
  - .github/semantic.yml
  - .github/stale.yml
  - .github/mergify.yml

github-templates:
  - .github/ISSUE_TEMPLATE/*
  - .github/PULL_REQUEST_TEMPLATE.md
  - .github/.chglog/*
  - .github/.chglog/**/*

internal:
  - .flake8
  - .bandit.baseline
  - .gitignore
  - .pre-commit-config.yaml
  - MANIFEST.in
  - Makefile
  - CONTRIBUTING.md
  - MAINTAINERS.md
  - CODE_OF_CONDUCT.md
  - LICENSE
  - THIRD-PARTY-LICENSES
  - .dockerignore
  - .editorconfig
  - setup.cfg

dependencies:
  - pyproject.toml
  - poetry.lock
  - requirements.txt

tests:
  - tests/*
  - tests/**/*
  - benchmark/*
  - benchmark/**/*

enhancement:
  - sample_components/*

build:
  - Dockerfile
